 /* Estilos para el encabezado */
 header {
    background-color: #a5a5a5;
    padding: 20px;
    text-align: center;
    color: white;
}

/* Estilos para la barra de navegación */
nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #c6d4e4;
}

/* Estilos para la sección principal */
.container {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #333;
}

.container p {
    font-size: 16px;
    color: #bb89a6;
    line-height: 1.6;
}

/* Estilos para el pie de página */
footer {
    background-color: #090808;
    color: rgb(116, 185, 197);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}